.md-header {
  background-color: rgb(45, 181, 132)
}

.md-nav__link--active, .md-nav__link:active, .md-nav__link--hover, .md-nav__link:hover {
  color: rgb(45, 181, 132)
}

.md-main__inner {
  padding-bottom: 3rem;
}

.md-tabs {
  background-color: rgb(45, 181, 132)
}
